[submodule "panda-items/social-locker"]
	path = panda-items/social-locker
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-module-sociallocker
[submodule "panda-items/signin-locker"]
	path = panda-items/signin-locker
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-module-signinlocker
[submodule "bizpanda"]
	path = bizpanda
	url = ssh://git@bitbucket.org/webcraftic/wp-bizpanda
