[submodule "bizpanda"]
	path = bizpanda
	url = ssh://git@bitbucket.org/OnePress/wp-bizpanda
[submodule "panda-items/social-locker"]
	path = panda-items/social-locker
	url = ssh://git@bitbucket.org/OnePress/bizpanda-sociallocker
[submodule "panda-items/signin-locker"]
	path = panda-items/signin-locker
	url = ssh://git@bitbucket.org/OnePress/bizpanda-signinlocker
